<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h2>This is Home</h2>
    <span th:text="${isLogin} ? 'Welcome, ' + ${member.id} : 'Welcome, Guest'"></span>
    <div th:if="${isLogin}">
        <button th:onClick="|location.href='@{/logoutHomePage}'|" type="button">로그아웃</button>
    </div>
    <div th:unless="${isLogin}">
        <form action="/" method="post">
            <label for="member-id">ID</label>
            <input id="member-id" name="id">
            <br/>
            <label for="member-password">Password</label>
            <input id="member-password" name="password" type="password">
            <br>
            <button type="submit">로그인</button>
        </form>
    </div>

    <br>
    <a href="/members/sign-up">회원가입</a>
    <a href="/members/member-list">회원 목록</a>
</body>
</html>