<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h2>This is Home</h2>
    <span th:text="${isLogin} ? 'Welcome, ' + ${member.id} : 'Welcome, Guest'"></span>
    <div th:if="${isLogin}">
        <button th:onClick="|location.href='@{/logoutHomePage}'|" type="button">로그아웃</button>
    </div>
    <div th:unless="${isLogin}">
        <form action="/login" method="post">
            <label for="member-id">ID</label>
            <input id="member-id" name="id">
            <br/>
            <label for="member-password">Password</label>
            <input id="member-password" name="password" type="password">
            <br>
            <button type="submit">로그인</button>
        </form>
    </div>

    <div th:if="${isLogin}">
        <form action="/todo" method="post">
            <label for="content">Todo</label>
            <input id="content" name="content">
            <button type="submit">등록</button>
        </form>
        <br/>
        <table>
            <thead>
                <tr>
                    <td>index</td>
                    <td>memberId</td>
                    <td>content</td>
                    <td>lastUpdatedDate</td>
                    <td>complete</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="todo : ${todoList}">
                    <td th:text="${todo.index}"></td>
                    <td th:text="${todo.memberId}"></td>
                    <td th:text="${todo.content}"></td>
                    <td th:text="${todo.lastUpdatedDate}"></td>
                    <td th:text="${todo.complete}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>
    <a href="/members/sign-up">회원가입</a>
    <a href="/members/member-list">회원 목록</a>
</body>
</html>